.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel-light {
  margin: 20px;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
}

.button-light {
  margin-right: 10px;
}

.button-toggle-light {
  margin-left: 20px;
}

.panel-dark {
  margin: 20px;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  color: aliceblue;
  background-color: #282c34;
}

.button-dark{
  margin-right: 10px;
  color: aliceblue;
  background-color: black;
}

.button-toggle-dark {
  margin-left: 20px;
  color: aliceblue;
  background-color: black;
}