@import "variables.scss";

.button {
    display: block;
    min-width: 101px;
    padding: 11px 18px;

    font-size: 14px;
    line-height: 16px;
    color: white;
    text-transform: uppercase;

    cursor: pointer;
    border: none;
    transition: 0.3s transform;

    &__main {
        background: $main-color;
        background: linear-gradient(135deg, transparent 10px, $main-color 0) top left,

        linear-gradient(-45deg, transparent 10px, $main-color 0) bottom right;
        background-size: 51% 100%;
        background-repeat: no-repeat;
    }

    &__secondary {
        background: $grey;
        background: linear-gradient(135deg, transparent 10px, $grey 0) top left,

        linear-gradient(-45deg, transparent 10px, $grey 0) bottom right;
        background-size: 51% 100%;
        background-repeat: no-repeat;
    }

    &:hover {
        transform: translateY(-5px);
    }

    &__long{
        display: block;
        cursor: pointer;
        border: none;
        width: 170px;

        padding: 10px 50px;
        margin: 45px auto 0 auto;
        color: white;
        font-size: 14px;
        transition: 0.3s transform;
        &:hover {
            transform: translateY(-5px);
        }
        &:disabled{
            filter: grayscale(.5);
        }
    }
}

